@mixin core_element-group {
	.element-group {
		display: block;
		list-style: none;
		text-align: left;

		&,
		&:only-child,
		&:last-child,
		&:first-child {
			margin: 0;
			padding: 0;
			margin-left: -$element-group-gutter;
			margin-top: -$element-group-gutter;
		}

		> li {
			text-align: left;
			vertical-align: middle;
			display: inline-block;
			margin: 0;
			padding: 0;
			padding-left: $element-group-gutter;
			margin-top: $element-group-gutter;
		}
	}

	.element-group--right {
		text-align: right;

		&,
		&:only-child,
		&:last-child,
		&:first-child {
			margin-left: 0;
			margin-right: -$element-group-gutter;
		}

		> li {
			padding-left: 0;
			padding-right: $element-group-gutter;
		}
	}

	.element-group--center {
		text-align: center;

		&,
		&:only-child,
		&:last-child,
		&:first-child {
			margin-left: -$element-group-gutter / 2;
			margin-right: -$element-group-gutter / 2;
		}

		> li {
			padding-left: $element-group-gutter/2;
			padding-right: $element-group-gutter/2;
		}
	}

	.element-group--vertical {
		&,
		&:only-child,
		&:last-child,
		&:first-child {
			margin: 0;
		}

		> li {
			display: block;
			padding: 0;
			margin: 0;

			+ li {
				margin-top: $element-group-baseline;
			}
		}
	}
}