@mixin core_element-group {
	.element-group {
		display: block;
		text-align: left;
	}

	.element-group-item {
		text-align: left;
		vertical-align: middle;
		display: inline-block;
	}

	.element-group--right {
		text-align: right;
	}

	.element-group--center {
		text-align: center;
	}

	.element-group--vertical {
		> .element-group-item {
			display: block;
		}
	}

	@include element-group-gutter(
		$direction: false,
		$gutter: $element-group-gutter
	);
}